@import "styles/sizes";
@import "styles/colors";

.form {
  display: flex;
  flex-direction: column;
  padding: $unit * 3;
  background: $base-light;
  max-width: 400px;
  margin: $unit * 4 auto;
  border-radius: $unit;

  .field {
      margin:$unit 0;
      display:flex;
      flex-direction: column;
  }
}
